@media (max-width: 1920px) {

}

@media (max-width: 1680px) {

}

@media (max-width: 1600px) {

}

@media (max-width: 1536px) {

}

@media (max-width: 1440px) {
 
}

@media (max-width: 1366px) {
 
}

@media (max-width: 1280px) {
 
}

@media (max-width: 1200px) {
 
}

@media (max-width: 1024px) {
 
}

@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {

}

@media (max-width: 520px) {
  
}