@media (max-width: 1920px) {

}

@media (max-width: 1680px) {

}

@media (max-width: 1600px) {

}

@media (max-width: 1536px) {

}

@media (max-width: 1440px) {
 
}

@media (max-width: 1366px) {
 
}

@media (max-width: 1280px) {
 
}

@media (max-width: 1200px) {
 
}

@media (max-width: 1024px) {
 
}

@media all and (min-width: 992px) {
  .dropdown-menu {
    width: 13rem;
  }

  .mega-submenu {
    left: 100%;
    top: 0;
    min-width: 25rem;
  }

  .ktm-mega-menu {
    position: static;
  }

  .mega-menu {
    left: 0;
    right: 0;
    width: 100%;
    border-radius: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
  }

  .dropdown-menu li {
    position: relative;
  }

  .dropdown-menu .submenu {
    display: none;
    left: 100%;
    top: 0;
  }

  .dropdown-menu>li:hover>.submenu,
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {

}

@media (max-width: 520px) {
  
}
