@font-face {
  font-family: 'hind_siliguri';
  src: url('/assets/font/HindSiliguri-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'hind_siliguri';
  src: url('/assets/font/HindSiliguri-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* default  */

body {
  font-family: 'hind_siliguri';
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 20px;
  font-size: 16px;
  color: var(--font-color);

}

:root {
  --primary-color: #2B2B2B;
  --secondary-color: #f2c00b;
  --light-color: #fff5cf;
  --dark-color: #D60000;
  --bg-color: #E8E8E8;
  --bg-two-color: #f3f3f3;
  --font-color: #757575;
  --border: #707070;
  --link-color: #ffffff;
  --font-family: 'Hind Siliguri', sans-serif;
  --navbar-active-color: #d60000;
  color: #d60000;
}

.read-more {
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;

  a {
    color: var(--secondary-color);
  }
}

/* top menu */
.top-menu {
  input {
    border: none;
    width: 15%;
    margin-right: -10px;
  }

  .top-date {
    padding-bottom: 10px;
  }

  p {
    color: var(--font-color);
  }

  a {
    font-size: 14px;
    font-weight: normal;
  }
}

.english-icon {
  color: var(--font-color);
}

/* Menu */
.navbar-nav ul li a {
  color: var(--border);
}

.navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
}

.main-menu {
  border-bottom: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
}

.main-menu .navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px 25px 10px 22px;
}

.main-menu .navbar-expand-lg .navbar-nav .nav-link.active,
.main-menu .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--navbar-active-color);
}

.main-menu .navbar-nav .nav-link.active,
.main-menu .navbar-nav .nav-link.show {
  color: var(--navbar-active-color);
}

.navbar-toggler {
  color: var(--primary-color);
}

.navbar-nav .mega-menu {
  background: var(--light-color);

  h6 {
    font-weight: bold;
    font-size: 15px;
    padding-left: 15px;
    color: var(--font-color);
  }

  ul li a {
    font-weight: normal;
    font-size: 14px;
  }

  .mega-social-media .social-media {
    a {
      color: var(--font-color);

      i {
        font-size: 25px;
      }
    }
  }
}

.dropdown-item {
  font-weight: normal;
}

/*  top news Section  */

.top-news {
  padding-top: 30px;
}

.breaking-news-title {
  padding-bottom: 10px;

  h6 {
    color: var(--dark-color);
    font-weight: bold;
  }
}

.news-meta {
  ul li {
    padding: 0 8px 0 0;
    font-size: 11px;
    line-height: 13px;
    list-style: none;
    display: inline-block;
    background: url(/assets/img/list.jpg) no-repeat right;

    a {
      font-size: 13px;
      color: var(--font-color);
      font-weight: 600;
    }
  }

  ul li:last-child {
    background: none;
  }
}

/* left site  */
.breaking-news {
  h6 {
    margin-top: 8px;
  }
}

.breaking-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--dark-color);
  border-radius: 50%;
  margin: 11px 10px 0px 0;
  animation: pulse 1s cubic-bezier(.4, 0, .6, 1) infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite
}

@keyframes pulse {
  50% {
    opacity: 0.4;
  }
}



/* News Card  */
.card-news {
  margin-bottom: 25px;
  border-bottom: 1.5px solid var(--border);
  padding-bottom: 20px;
}

.breaking-middle {
  border-right: 1.5px solid var(--primary-color);
  border-left: 1.5px solid var(--primary-color);
  padding: 0 12px 0 12px;
  margin: 0 -10px 0 -10px;
}

.sport-title h6 {
  padding: 20px 0 18px 0;
  font-size: 25px;
  font-weight: bold;
}


.sports-news .sport-title {
  padding-top: 0px;
  margin-bottom: 18px;
}

.global-news {
  .news-meta {
    padding-top: 10px;
  }

  p {
    padding-top: 10px;
  }
}

/* Right top Section  */

.ads-part-right {
  margin-bottom: 20px;
}

.news-content {
  margin-bottom: 20px;
}

.right-news-card {
  ul {
    padding-top: 8px;
  }
}

.right-ads {
  margin-bottom: 10px;
}

.international {
  margin-bottom: 25px;
  border-bottom: 1.5px solid var(--border);
  padding-bottom: 20px;

  .news-meta {
    padding-bottom: 8px;
  }

}

/* international-trade */

.tranding {
  background-color: var(--light-color);
  margin-top: 3.5rem;
}

.international-tranding-news .card-news {
  border-bottom: none;
  padding-right: 30px;

  h6 {
    font-size: 25px;
    font-weight: bold;
  }

  .news-meta {
    padding: 10px 0 20px 0;
  }
}



.international-service {
  .card-news {
    border-bottom: none;
    margin-bottom: 0px;

    h6 {
      padding-top: 10px;
    }
  }

  .news-meta {
    padding: 10px 0 0 0;
    font-size: 12px;

    a {
      font-size: 13px;
    }
  }
}

.tranding .read-more a {
  color: var(--primary-color);
}

/* ads-part */

.ads-part {
  background-color: var(--bg-two-color);
  padding: 3rem 0 3rem 0;
  margin-bottom: 50px;
}

/* employment part  */

.news-headline-title {
  padding: 15px 0 15px 0;
  margin-bottom: 25px;
  border-bottom: 1.5px solid var(--secondary-color);

  h4 {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
  }

}

.employmment-card .card-news {
  border-bottom: none;

  h6 {
    font-size: 25px;
    font-weight: bold;
  }

  .news-meta {
    padding: 10px 0 20px 0;
  }
}

/* Right Part */
.employment-content {
  .international {
    padding-bottom: 18px;
    margin-bottom: 18px;
  }
}

/* Educational field  and  Campuse  */
.explore-content {
  border-bottom: 1.5px solid var(--secondary-color);
  margin-bottom: 27px;
  margin-top: -5px;
}

.nav-pills .nav-link {
  font-weight: bold;
  color: var(--primary-color);
  padding-left: 0;
  margin-right: 3.6rem;
  font-size: 25px;
}

.nav-pills .nav-link.active {
  background-color: #ffff;
  color: #1a1a1a;
  border-bottom: 3px solid var(--font-color);
  border-radius: 0;
  margin-bottom: -2px;
  font-weight: bold;
}

.educational-field .card-news {
  border-bottom: none;
}

.educational-field .card-news .news-meta {
  padding: 8px 0 0 0;

  p {
    padding: 8px 0 0 0;
  }
}


/* Campuse speaking */
.campuse-left h6 {
  padding: 20px 0 0 0;
  font-size: 15px;
}

.campuse-title .news-headline-title {
  padding: 9px 0 9px 0;
  margin-bottom: 2px;
}

.campuse-content {
  .card-news {
    .news-meta {
      padding: 15px 0 14px 0;
    }
  }
}

.campuse-searhing {
  background-color: var(--light-color);
  padding: 5px 0 8px 5px;
  margin-bottom: 20px;
  margin-top: -2px;

  select {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: bold;
    padding: 3px 0 2px 30px;
    width: 100%;
    border: 1.5px solid var(--border);
    border-radius: 5px;
  }

  .btn-primary {
    background-color: var(--secondary-color);
    color: var(--bg-two-color);
    font-size: 10px;
    padding: 3px 38px 3px 38px;
    margin-right: 10px;
    border: none;
    border-radius: 0px;
    outline: none;
  }

  .btn:first-child:active {
    background-color: var(--border);
    color: #ffffff;
  }
}

.campuse-speaking-content {
  padding: 2rem 0 1rem 10rem;
  background: #fff8dd;

  img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    text-align: center;
  }

  .campuse-title {
    padding-top: 10px;

    .news-meta {
      padding-top: 10px;
      padding-bottom: 8px;
      border-bottom: 1.5px solid var(--border);
    }
  }
}

.card-news {
  position: relative;
}

.speaking-icon {
  position: absolute;
  top: 30px;
  left: 80px;
}

.campuse-vc {
  border-bottom: 1.5px solid var(--primary-color);
}

/* Read More Slider */
.learn-more {
  position: relative;
  margin-bottom: 10px;
  padding: 0 0 10px 0;

  img {
    border-radius: 10px;
    opacity: 0.9;
  }
}

.learn-more-title {
  position: absolute;
  left: 19px;
  bottom: 85px;

  a {
    color: var(--bg-two-color);
  }
}

.learn-more-title .heading-title {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: var(--secondary-color);
}

/* slider */
.carousel-indicators {
  bottom: -30px;
}

.carousel-indicators [data-bs-target] {
  background: #111111;
  border-radius: 50%;
  width: 12px;
  height: 8px;
  border-top: 2px solid #111111;
  border-bottom: 2px solid #111111;
}

/* District News */
.district-title {
  margin-bottom: 0px;
  margin-top: 5.5rem;
}

.district-searching {
  padding: 10px 0 10px 0;
  gap: 20%;
  background-color: var(--light-color);

  select {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0 2px 30px;
    width: 8rem;
    border: 1.5px solid var(--border);
    border-radius: 5px;
  }
}

.district-button {
  background-color: var(--secondary-color);
  color: var(--bg-two-color);
  font-size: 10px;
  padding: 3px 35px 3px 35px;
  margin: 10px 10px 0 0;
  border: none;
  border-radius: 0px;
  outline: none;
}

.btn:first-child:active {
  background-color: var(--border);
  color: #ffffff;
}

.district-left .news-meta,
.district-content .news-meta {
  padding: 5px 0 8px 0;

  p {
    padding: 10px 0 10px;
  }
}

.district-card {
  padding-bottom: 3.5rem;

  .card-news {
    margin-bottom: 0px;
  }

  .international {
    margin-bottom: 17px;
    padding-bottom: 17px;
  }
}

.district-service {
  border-bottom: none;

  p {
    margin-top: 15px;
  }
}

/* sport And politics  News */
.sport-left {

  p {
    padding-top: 10px;
  }
}

.sport-content {
  .card-news {
    margin-bottom: 9px;
    padding-bottom: 11px;
  }

  .international {
    margin-bottom: 9px;
    padding-bottom: 11px;
  }
}

.sport-content-left .card-news {
  padding-bottom: 11px;

  h6 {
    padding: 10px 0 10px 0;
  }

}

.politics {
  border-left: 1.5px solid var(--border);
  padding-left: 8px;
  margin-left: -13px;
  padding-bottom: 10px;
}

/* Editor's Column */
.editor-content .card-news {
  border-right: 1.5px solid var(--border);
  border-bottom: none;
  padding-right: 8px;
  margin-right: -14px;
}

.editor-Column .col-lg-3:nth-child(5) .editor-content .card-news {
  border-right: none;
}

/* picture gallery */
.picture {
  margin-bottom: 15px;
}

.picture-item h6 {
  padding-top: 10px;
}

/* ongoing Part  */
.ongoing {
  background: var(--bg-two-color);
  padding: 30px 0 20px 0;
}

.ongoing-content {
  .news-meta {
    padding: 10px 0 10px 0;
  }
}

.ongoing-item {
  position: relative;
}

.ongoing-icon {
  position: absolute;
  top: 0;
  left: -20px;

  img {
    height: 6rem;
    width: 7.5rem;
  }
}

.ongoing-icon-part {
  position: absolute;
  top: 0;
  left: 0;

  img {
    height: 3rem;
    width: 3.5rem;
    cursor: pointer;
  }
}

/* footer Part */
.footer-part {
  background: var(--font-color);
  color: var(--bg-two-color);

  p {
    font-size: 14px;
    color: var(--bg-two-color);

    a {
      color: var(--link-color);
    }
  }

  h6 {
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.footer-item {
  ul li {
    list-style: none;
    padding-bottom: 5px;

    a {
      font-size: 14px;
      color: var(--link-color);
      font-weight: 500;
    }
  }
}

.social-media-icons {
  ul li {
    display: inline-block;
    list-style-type: none;
  }

  a {
    color: var(--link-color);
    font-size: 25px;
  }
}

.footer-social-media {
  p {
    font-weight: 700;
  }
}

/* Discription */
.ads-header {
  border-bottom: 1.5px solid var(--border);
  margin-bottom: 20px;
}

.description-left {
  .card-news {
    h2 {
      font-size: 38px;
      line-height: 4rem;
    }
  }

  p {
    line-height: 30px;
  }
}

.description-read {
  border-top: 1.5px solid var(--border);
  border-bottom: 1.5px solid var(--border);
  padding: 10px 0 10px 0;
  margin: 15px 0 15px 0;
}

.description-right .card-news {
  border-bottom: none;
}

.description-content-img {
  padding: 30px 0 30px 0;
}

.content-imge p {
  margin: 0 20% 0 20%;
  background: var(--bg-two-color);
  padding: 3px 0 3px 0;
}

.description-date {
  border-bottom: 1.5px solid var(--border);
  margin-bottom: 20px;
  padding-bottom: 10px;

  .news-meta {
    ul li {
      font-size: 14px;

      a {
        font-size: 14px;
      }
    }
  }

  p {
    font-size: 14px;
  }
}

.right-content {
  .news-meta {
    ul li {
      font-size: 11px;

      a {
        font-size: 12px;
      }
    }
  }
}

.quote-box {
  background-color: var(--light-color);
  border-bottom: 3px solid var(--secondary-color);
  padding: 40px;
  position: relative;
  max-width: 600px;
  text-align: center;
  margin: 50px auto;
}

.quote-icon {
  position: absolute;
  top: -30px;
  left: 25px;
  font-weight: bold;
}

.quote-text {
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 20px;
  font-weight: 500;
}

.discription-footer {
  border-top: 1.5px solid var(--border);
  padding-top: 45px;
  margin-top: 55px;

  .news-meta {
    margin-bottom: 10px;
  }
}

/* Category */
.top-category {
  border-top: 1.5px solid var(--border);
  border-bottom: none;
  background: var(--light-color);
  padding: 25px 0 20px 0;
  margin-bottom: 2rem;

  h4 {
    font-size: 40px;
  }
}

/* cricket */
.cricket-content .ongoing-item {
  h6 {
    border-bottom: 1.5px solid var(--border);
    padding: 16px 0 2rem 0;
  }

  .news-meta {
    border-bottom: 1.5px solid var(--border);
    padding: 8px 0 8px 0;

    ul li {
      font-size: 14px;
    }
  }

}

.cricket-item {
  border-left: 1.5px solid var(--border);
  border-spacing: 10px;
  padding-left: 10px;
  margin-left: -14px;

  .card-news {
    padding-bottom: 37px;
    margin-bottom: 0px;
  }

  .district-left h6 {
    padding: 12px 0 20px 0;
  }

  p {
    padding-bottom: 2rem;
  }
}

.sub-category-item {
  padding-left: 25px;
  margin-left: 0px;
}


/* football */
.football-content {
  .card-news {
    border: none;
  }


  .football-item {
    border-bottom: 1.5px solid var(--border);
    margin-bottom: 10px;

  }
}



.district-left .news-meta {
  padding: 8px 0 8px 0;

  ul li {
    font-size: 14px;
  }
}

/* badminton */
.football-right .card-news,
.badminton-right .card-news,
.badminton-left .card-news {
  border: none;
}

/* pagination */
.sub-pagination {
  border-top: 1.5px solid var(--border);
  border-bottom: 1.5px solid var(--border);
  margin: 20px 0 30px 0;
  padding: 10px 0 10px 0;

  nav {
    background: var(--secondary-color);
  }

  .sub-bottom-pagenating {
    ul li {
      a {
        background-color: transparent;
        color: var(--bg-two-color);
        border: none;
        outline: none;
      }
    }
  }

  .page-item:last-child {
    padding-left: 7rem;
  }

  .page-item:first-child {
    padding-right: 7rem;

  }
}

/* sub Category */
.sub-category-ads {
  border-bottom: 1.5px solid var(--border);
  margin-bottom: 15px;
}

.sub-category-content {
  margin-top: 20px;
  padding-bottom: 20px;

  .card-news {
    margin-bottom: 25px;
    padding-bottom: 30px;
    h6 {
      margin-top: 10px;
    }
  }

  .news-meta {
    padding: 10px 0 10px 0;
  }

}

.sub-category-content .sub-pagination {
  border: none;

  .page-item:last-child {
    padding-left: 2rem;
  }

  .page-item:first-child {
    padding-right: 2rem;

  }
}

.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  /*height: 50px;*/
  padding: 6px 4px 2px 2px;
  transition: all 0.5s;
}

.search-click:focus {
  width: 300px;
  padding-left: 50px;
  border: 1px solid #ccc !important;
  border-radius: 100px !important;
}

.search-click {
  position: relative;
  overflow: hidden;
  /*height: 50px;*/
}

.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  /*height: 50px;*/
  left: 0%;
  padding: 10px;
}